/*====================================================================================================
 * C O L U M N S                                                                      C O L U M N S  *
 =====================================================================================================*/
 .lts-col-wrapper { display: block; width: 100%; clear: both !important; }
.lts-one-half { width: 48%; }
.lts-one-third { width: 30.5%; }
.lts-one-fourth { width: 22%; }
.lts-one-fifth { width: 16.8%; }
.lts-one-sixth { width: 13.33%; }
.lts-two-fifth { width: 37.6%; }
.lts-two-third { width: 65.33%; }
.lts-three-fifth { width: 58.4%; }
.lts-three-fourth{ width: 74%; }
.lts-four-fifth{ width: 67.2%; }
.lts-five-sixth { width: 82.67%; }

.lts-one-half,
.lts-one-third,
.lts-two-third,
.lts-three-fourth,
.lts-one-fourth,
.lts-one-fifth,
.lts-two-fifth,
.lts-three-fifth,
.lts-four-fifth,
.lts-one-sixth,
.lts-five-sixth  { position: relative; margin-right: 4% !important; margin-left: 0; margin-bottom: 20px !important; float: left; }
.lts-col-last      { margin-right: 0 !important; clear: right !important; }