div.lizatom-3d-buttons-btn_container{
display:inline block;
overflow:hidden;
float:left;	
margin:4px;
padding: 1px;
}

.lizatom-3d-buttons-btn_container span img { border: none !important; background: none !important; padding: 0 0 0 0 !important; box-shadow: none !important; }

.lizatom-3d-buttons-btn_container .lizatom-3d-buttons-a-btn-icon-right{
    position:absolute;
    right:130px;
    top:2px;
    height:95%;
     border-right:1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow:1px 3px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 3px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 3px 1px rgba(255,255,255,0.4) inset;
}

.lizatom-3d-buttons-a-btn-icon-right:before{
content:'';
width:300px;
    position:absolute;

	 background:#FFF;

}

.lizatom-3d-buttons-button_txt{
    font: 11pt "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
display:inline-block;
text-align:center;
width:230px;
}

.lizatom-3d-buttons-button{
 display:inline block;
 width: 190px;
padding: 15px 0px;
outline:none;
position:relative;
   
    text-decoration: none;
    line-height: 25px;
    text-align: center;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    border-radius: 5px;
	}

  a.lizatom-3d-buttons-button:before,
  a.lizatom-3d-buttons-button:after {
    content: '';
    position: absolute;
    left: -1px;
    height: 55px;
    width: 190px;
    bottom: -2px;
    
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  a.lizatom-3d-buttons-button:before { 
    height: 55px;
    bottom: -6px;
    border-top: 0;
    -webkit-border-radius: 0 0 5px 5px; 
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 8px 8px;
    
    -webkit-box-shadow: 0 1px 1px 0px #bfbfbf;
    -moz-box-shadow: 0 1px 1px 0px #bfbfbf;
    box-shadow: 0 2px 1px 0px #bfbfbf;
  }	
  
  
.lizatom-3d-buttons-button:hover{
	-webkit-box-shadow:inset 0px -6px 0px 0px rgba(0,0,0,0.5),inset 0 0 0px 1px rgba(255,255,255,0.2);
	-moz-box-shadow:inset 0px -6px 0px 0px rgba(0,0,0,0.5),inset 0 0 0px 1px rgba(255,255,255,0.2);
	box-shadow:inset 0px -6px 0px 0px rgba(0,0,0,0.5),inset 0 0 0px 1px rgba(255,255,255,0.2);
	}	


	
.lizatom-3d-buttons-button:hover .lizatom-3d-buttons-right_icon1{
transform:rotate(360deg);
-ms-transform:rotate(360deg); /* IE 9 */
-moz-transform:rotate(360deg); /* Firefox */
-webkit-transform:rotate(360deg); /* Safari and Chrome */
-o-transform:rotate(360deg); /* Opera */
}
.lizatom-3d-buttons-button:hover .lizatom-3d-buttons-right_icon2{
opacity:0.0;
transform:scale(3,3) rotate(360deg);
-ms-transform:scale(3,3) rotate(360deg); /* IE 9 */
-moz-transform:scale(3,3) rotate(360deg); /* Firefox */
-webkit-transform:scale(3,3) rotate(360deg); /* Safari and Chrome */
-o-transform:scale(3,3) rotate(360deg); /* Opera */
}

.lizatom-3d-buttons-button:hover .lizatom-3d-buttons-right_icon3{
opacity:0.0;
transform:scale(0,0) rotate(-360deg);
-ms-transform:scale(0,0) rotate(-360deg);/* IE 9 */
-moz-transform:scale(0,0) rotate(-360deg); /* Firefox */
-webkit-transform:scale(0,0) rotate(-360deg);/* Safari and Chrome */
-o-transform:scale(0,0) rotate(-360deg); /* Opera */
}

.lizatom-3d-buttons-button:hover .lizatom-3d-buttons-right_icon4{
opacity:0.0;
transform:rotate(-360deg);
-ms-transform:rotate(-360deg);/* IE 9 */
-moz-transform:rotate(-360deg); /* Firefox */
-webkit-transform:rotate(-360deg);/* Safari and Chrome */
-o-transform:rotate(-360deg); /* Opera */
}
.lizatom-3d-buttons-right_icon1,
.lizatom-3d-buttons-right_icon2,
.lizatom-3d-buttons-right_icon3,
.lizatom-3d-buttons-right_icon4{
    width:38px;
    height:38px;
    opacity:0.9;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    position:absolute;
    left:-47px;
    top:9px;
box-shadow:0px 0px 1px 0px rgba(0,0,0,0.2);
	background:rgba(255,255,255,0.5);
	    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.lizatom-3d-buttons-right_icon1 img,
.lizatom-3d-buttons-right_icon2 img,
.lizatom-3d-buttons-right_icon3 img,
.lizatom-3d-buttons-right_icon4 img{
width:22px;
height:22px;
position:absolute;
left:8px;
top:8px;
}





a.lizatom-3d-buttons-gray,
  a.lizatom-3d-buttons-gray:hover,
  a.lizatom-3d-buttons-gray:visited {
  
	color: #555;
    border-bottom: 5px solid #b2b1b1;
    text-shadow: 0px 1px 0px #fafafa;
    	display: block;    
	background: #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e2e2e2));
	background: -moz-linear-gradient(top,  #eee,  #e2e2e2);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e2e2e2'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e2e2e2'); /* ie8 */
	background-image: linear-gradient(top, #eee, #e2e2e2); /* W3C */
	background: -ms-linear-gradient(top, #eee, #e2e2e2); /* IE9 */
	background: -o-linear-gradient(top, #eee, #e2e2e2); /* Opera 11  */
	background: -webkit-linear-gradient(top, #eee, #e2e2e2); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #e2e2e2)); /* Chrome 10, Safari */	
    box-shadow: inset 1px 2px 0 rgba(255,255,255,0.5);
  }

  .lizatom-3d-buttons-gray:before,
  .lizatom-3d-buttons-gray:after {
    border: 1px solid #cecece;
    border-bottom: 1px solid #a5a5a5;
  }

  a.lizatom-3d-buttons-gray:hover {
    background: #e2e2e2;
	background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#eeeeee));
	background: -moz-linear-gradient(top,  #e2e2e2,  #eeeeee);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#eeeeee'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#eeeeee'); /* ie8 */
	background-image: linear-gradient(top, #e2e2e2, #eeeeee); /* W3C */
	background: -ms-linear-gradient(top, #e2e2e2, #eeeeee); /* IE9 */
	background: -o-linear-gradient(top, #e2e2e2, #eeeeee); /* Opera 11  */
	background: -webkit-linear-gradient(top, #e2e2e2, #eeeeee); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e2e2e2), color-stop(1, #eeeeee)); /* Chrome 10, Safari */	
  }


/* TURQUOISE */
  a.lizatom-3d-buttons-turquoise,
  a.lizatom-3d-buttons-turquoise:hover,
  a.lizatom-3d-buttons-turquoise:visited {
    	display: block;
	text-decoration: none;
	 color: #366d6f;
    border-bottom: 5px solid #4fa7aa;
    text-shadow: 0px 1px 0px #b4fdff;
     background: #81e8eb;
		background: -webkit-gradient(linear, left top, left bottom, from(#b7f2f4), to(#81e8eb));
	background: -moz-linear-gradient(top,  #b7f2f4,  #81e8eb);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7f2f4', endColorstr='#81e8eb'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7f2f4', endColorstr='#81e8eb'); /* ie8 */
	background-image: linear-gradient(top, #b7f2f4, #81e8eb); /* W3C */
	background: -ms-linear-gradient(top, #b7f2f4, #81e8eb); /* IE9 */
	background: -o-linear-gradient(top, #b7f2f4, #81e8eb); /* Opera 11  */
	background: -webkit-linear-gradient(top, #b7f2f4, #81e8eb); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b7f2f4), color-stop(1, #81e8eb)); /* Chrome 10, Safari */
	box-shadow: inset 1px 2px 0 rgba(255,255,255,0.5);
  }

  .lizatom-3d-buttons-turquoise:before,
  .lizatom-3d-buttons-turquoise:after {
    border: 1px solid #87d3d5;
    border-bottom: 1px solid #47989b;
  }

  a.lizatom-3d-buttons-turquoise:hover {
    background: #81e8eb;
    background: -webkit-gradient(linear, left top, left bottom, from(#81e8eb), to(#b7f2f4));
    background: -moz-linear-gradient(top,  #81e8eb,  #b7f2f4);
  }
  




/* Blue */

 a.lizatom-3d-buttons-blue,
  a.lizatom-3d-buttons-blue:hover,
  a.lizatom-3d-buttons-blue:visited {
    color: #42788e;
    border-bottom: 5px solid #589cb6;
    background: #abe4f8;
    	display: block;
    text-shadow: 0px 1px 0px #bee9fa;
 	background: -webkit-gradient(linear, left top, left bottom, from(#abe4f8), to(#74d0f4));
	background: -moz-linear-gradient(top,  #abe4f8,  #74d0f4);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#abe4f8', endColorstr='#74d0f4'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#abe4f8', endColorstr='#74d0f4'); /* ie8 */
	background-image: linear-gradient(top, #abe4f8, #74d0f4); /* W3C */
	background: -ms-linear-gradient(top, #abe4f8, #74d0f4); /* IE9 */
	background: -moz-linear-gradient(top, #abe4f8, #74d0f4); 
	background: -o-linear-gradient(top, #abe4f8, #74d0f4); /* Opera 11  */
	background: -webkit-linear-gradient(top, #abe4f8, #74d0f4); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #abe4f8), color-stop(1, #74d0f4)); /* Chrome 10, Safari */	
    
	   box-shadow: inset 1px 2px 0 rgba(255,255,255,0.5);
  }

  .lizatom-3d-buttons-blue:before,
  .lizatom-3d-buttons-blue:after {
    border: 1px solid #8cc5d9;
    border-bottom: 1px solid #4e8aa1;
  }

  a.lizatom-3d-buttons-blue:hover {
    background: #74d0f4;

	background: -webkit-gradient(linear, left top, left bottom, from(#74d0f4), to(#abe4f8));
	background: -moz-linear-gradient(top,  #74d0f4,  #abe4f8);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#74d0f4', endColorstr='#abe4f8'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#74d0f4', endColorstr='#abe4f8'); /* ie8 */
	background-image: linear-gradient(top, #74d0f4, #abe4f8); /* W3C */
	background: -ms-linear-gradient(top, #74d0f4, #abe4f8); /* IE9 */
	background: -moz-linear-gradient(top, #74d0f4, #abe4f8); 
	background: -o-linear-gradient(top, #74d0f4, #abe4f8); /* Opera 11  */
	background: -webkit-linear-gradient(top, #74d0f4, #abe4f8); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #74d0f4), color-stop(1, #abe4f8)); /* Chrome 10, Safari */	
  }

/* Brown */

 a.lizatom-3d-buttons-brown,
  a.lizatom-3d-buttons-brown:hover,
  a.lizatom-3d-buttons-brown:visited {
    display: block;
	color: #490515;
    border-bottom: 5px solid #420815;
    background: #abe4f8;    	
    text-shadow: 0px 1px 0px #b11438;
    outline:none;
	display: block;
	background: #810f2a;
	background: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#810f2a));
	background: -moz-linear-gradient(top,  #a90329,  #810f2a);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#810f2a'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#810f2a'); /* ie8 */
	background-image: linear-gradient(top, #a90329, #810f2a); /* W3C */
	background: -ms-linear-gradient(top, #a90329, #810f2a); /* IE9 */
	background: -moz-linear-gradient(top, #a90329, #810f2a); 
	background: -o-linear-gradient(top, #a90329, #810f2a); /* Opera 11  */
	background: -webkit-linear-gradient(top, #a90329, #810f2a); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a90329), color-stop(1, #810f2a)); /* Chrome 10, Safari */	
    
  box-shadow: inset 1px 2px 0 rgba(255,255,255,0.3);
  }

  .lizatom-3d-buttons-brown:before,
  .lizatom-3d-buttons-brown:after {
    border: 1px solid #7d2b3d;
    border-bottom: 1px solid #591626;
  }

  a.lizatom-3d-buttons-brown:hover {

	background: #a90329;
	background: -webkit-gradient(linear, left top, left bottom, from(#810f2a), to(#a90329));
	background: -moz-linear-gradient(top,  #810f2a,  #a90329);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#810f2a', endColorstr='#a90329'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#810f2a', endColorstr='#a90329'); /* ie8 */
	background-image: linear-gradient(top, #810f2a, #a90329); /* W3C */
	background: -ms-linear-gradient(top, #810f2a, #a90329); /* IE9 */
	background: -moz-linear-gradient(top, #810f2a, #a90329); 
	background: -o-linear-gradient(top, #810f2a, #a90329); /* Opera 11  */
	background: -webkit-linear-gradient(top, #810f2a, #a90329); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #810f2a), color-stop(1, #a90329)); /* Chrome 10, Safari */	
  }







/* RED */

 a.lizatom-3d-buttons-red,
  a.lizatom-3d-buttons-red:hover,
  a.lizatom-3d-buttons-red:visited {
outline:none;
	display: block;
	text-decoration: none;
	color: #470a0a;
    border-bottom: 5px solid #670e0e;
    text-shadow: 0px 1px 0px #d85656;
	background: #ab1313;
	background: -webkit-gradient(linear, left top, left bottom, from(#D22020), to(#ab1313));
	background: -moz-linear-gradient(top,  #D22020,  #ab1313);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D22020', endColorstr='#ab1313'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D22020', endColorstr='#ab1313'); /* ie8 */
	background-image: linear-gradient(top, #D22020, #ab1313); /* W3C */
	background: -ms-linear-gradient(top, #D22020, #ab1313); /* IE9 */
	background: -moz-linear-gradient(top, #D22020, #ab1313); 
	background: -o-linear-gradient(top, #D22020, #ab1313); /* Opera 11  */
	background: -webkit-linear-gradient(top, #D22020, #ab1313); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D22020), color-stop(1, #ab1313)); /* Chrome 10, Safari */	
	 box-shadow: inset 1px 2px 0 rgba(255,255,255,0.3);
}

 .lizatom-3d-buttons-red:before,
  .lizatom-3d-buttons-red:after {
    border: 1px solid #a14040;
    border-bottom: 1px solid #6f0d0d;
  }

  a.lizatom-3d-buttons-red:hover {
    background: #D22020;
	background: -webkit-gradient(linear, left top, left bottom, from(#ab1313), to(#D22020));
	background: -moz-linear-gradient(top,  #ab1313,  #D22020);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab1313', endColorstr='#D22020'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab1313', endColorstr='#D22020'); /* ie8 */
	background-image: linear-gradient(top, #ab1313, #D22020); /* W3C */
	background: -ms-linear-gradient(top, #ab1313, #D22020); /* IE9 */
	background: -moz-linear-gradient(top, #ab1313, #D22020); 
	background: -o-linear-gradient(top, #ab1313, #D22020); /* Opera 11  */
	background: -webkit-linear-gradient(top, #ab1313, #D22020); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ab1313), color-stop(1, #D22020)); /* Chrome 10, Safari */	
  }


/* GREEN */

  a.lizatom-3d-buttons-green,
  a.lizatom-3d-buttons-green:hover,
  a.lizatom-3d-buttons-green:visited {
	outline:none;
	display: block;
	text-decoration: none;
    color: #5d7731;
    border-bottom: 5px solid #799545;
    text-shadow: 0px 1px 0px #d5e8aa;
    
    background: #cae285;	    
	background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#a3cd5a));
	background: -moz-linear-gradient(top,  #cae285,  #a3cd5a);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#a3cd5a'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#a3cd5a'); /* ie8 */
	background-image: linear-gradient(top, #cae285, #a3cd5a); /* W3C */
	background: -ms-linear-gradient(top, #cae285, #a3cd5a); /* IE9 */
	background: -moz-linear-gradient(top, #cae285, #a3cd5a); 
	background: -o-linear-gradient(top, #cae285, #a3cd5a); /* Opera 11  */
	background: -webkit-linear-gradient(top, #cae285, #a3cd5a); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cae285), color-stop(1, #a3cd5a)); /* Chrome 10, Safari */	
    
    box-shadow: inset 1px 2px 0 rgba(255,255,255,0.3);
  }

  .lizatom-3d-buttons-green:before,
  .lizatom-3d-buttons-green:after {
    border: 1px solid #98b85b;
    border-bottom: 1px solid #6d883b;
  }

  a.lizatom-3d-buttons-green:hover {
    background: #a3cd5a;
    background: -webkit-gradient(linear, left top, left bottom, from(#a3cd5a), to(#cae285));
	background: -moz-linear-gradient(top,  #a3cd5a,  #cae285);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3cd5a', endColorstr='#cae285'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3cd5a', endColorstr='#cae285'); /* ie8 */
	background-image: linear-gradient(top, #a3cd5a, #cae285); /* W3C */
	background: -ms-linear-gradient(top, #a3cd5a, #cae285); /* IE9 */
	background: -moz-linear-gradient(top, #a3cd5a, #cae285); 
	background: -o-linear-gradient(top, #a3cd5a, #cae285); /* Opera 11  */
	background: -webkit-linear-gradient(top, #a3cd5a, #cae285); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a3cd5a), color-stop(1, #cae285)); /* Chrome 10, Safari */	
  }




/* Black */
 a.lizatom-3d-buttons-black,
  a.lizatom-3d-buttons-black:hover,
  a.lizatom-3d-buttons-black:visited {
    color: #121212;
    border-bottom: 5px solid #414141;
    text-shadow: 0px 1px 0px #777777;
   display:block; 
    background: #656565;
	background: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#444444));
	background: -moz-linear-gradient(top,  #656565,  #444444);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#656565', endColorstr='#444444'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#656565', endColorstr='#444444'); /* ie8 */
	background-image: linear-gradient(top, #656565, #444444); /* W3C */
	background: -ms-linear-gradient(top, #656565, #444444); /* IE9 */
	background: -moz-linear-gradient(top, #656565, #444444); 
	background: -o-linear-gradient(top, #656565, #444444); /* Opera 11  */
	background: -webkit-linear-gradient(top, #656565, #444444); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656565), color-stop(1, #444444)); /* Chrome 10, Safari */	
    
  box-shadow: inset 1px 2px 0 rgba(255,255,255,0.3);
  }

  .lizatom-3d-buttons-black:before,
  .lizatom-3d-buttons-black:after {
    border: 1px solid #535353;
    border-bottom: 1px solid #343434;
  }



  a.lizatom-3d-buttons-black:hover {
    background: #444444;
    background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#656565));
	background: -moz-linear-gradient(top,  #444444,  #656565);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#656565'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#656565'); /* ie8 */
	background-image: linear-gradient(top, #444444, #656565); /* W3C */
	background: -ms-linear-gradient(top, #444444, #656565); /* IE9 */
	background: -moz-linear-gradient(top, #444444, #656565); 
	background: -o-linear-gradient(top, #444444, #656565); /* Opera 11  */
	background: -webkit-linear-gradient(top, #444444, #656565); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, #656565)); /* Chrome 10, Safari */	
  }




/* lightbrown */


  a.lizatom-3d-buttons-lightbrown,
  a.lizatom-3d-buttons-lightbrown:hover,
  a.lizatom-3d-buttons-lightbrown:visited {
	outline:none;
	display: block;
	text-decoration: none;
    color: #5a3b30;
    border-bottom: 5px solid #5a3d32;
    text-shadow: 0px 1px 0px #ae7662;
    
	background: #8c5c4b;
	background: -webkit-gradient(linear, left top, left bottom, from(#a26e5a), to(#8c5c4b));
	background: -moz-linear-gradient(top,  #a26e5a,  #8c5c4b);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a26e5a', endColorstr='#8c5c4b'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a26e5a', endColorstr='#8c5c4b'); /* ie8 */
	background-image: linear-gradient(top, #a26e5a, #8c5c4b); /* W3C */
	background: -ms-linear-gradient(top, #a26e5a, #8c5c4b); /* IE9 */
	background: -moz-linear-gradient(top, #a26e5a, #8c5c4b); 
	background: -o-linear-gradient(top, #a26e5a, #8c5c4b); /* Opera 11  */
	background: -webkit-linear-gradient(top, #a26e5a, #8c5c4b); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a26e5a), color-stop(1, #8c5c4b)); /* Chrome 10, Safari */	
    
    box-shadow: inset 1px 2px 0 rgba(255,255,255,0.3);
  }

  .lizatom-3d-buttons-lightbrown:before,
  .lizatom-3d-buttons-lightbrown:after {
    border: 1px solid #8d5f4d;
    border-bottom: 1px solid #70493c;
  }

  a.lizatom-3d-buttons-lightbrown:hover {
    background: #a26e5a;
	background: -webkit-gradient(linear, left top, left bottom, from(#8c5c4b), to(#a26e5a));
	background: -moz-linear-gradient(top,  #8c5c4b,  #a26e5a);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c5c4b', endColorstr='#a26e5a'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c5c4b', endColorstr='#a26e5a'); /* ie8 */
	background-image: linear-gradient(top, #8c5c4b, #a26e5a); /* W3C */
	background: -ms-linear-gradient(top, #8c5c4b, #a26e5a); /* IE9 */
	background: -moz-linear-gradient(top, #8c5c4b, #a26e5a); 
	background: -o-linear-gradient(top, #8c5c4b, #a26e5a); /* Opera 11  */
	background: -webkit-linear-gradient(top, #8c5c4b, #a26e5a); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8c5c4b), color-stop(1, #a26e5a)); /* Chrome 10, Safari */	
  }



/* lightorange */
a.lizatom-3d-buttons-lightorange,
  a.lizatom-3d-buttons-lightorange:hover,
  a.lizatom-3d-buttons-lightorange:visited {
	outline:none;
	display: block;
	text-decoration: none;
    color: #874011;
    border-bottom: 5px solid #96420a;
    text-shadow: 0px 1px 0px #f9a46b;
	background: #fb6402;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fb6402));
	background: -moz-linear-gradient(top,  #f88539,  #fb6402);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88539', endColorstr='#fb6402'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88539', endColorstr='#fb6402'); /* ie8 */
	background-image: linear-gradient(top, #f88539, #fb6402); /* W3C */
	background: -ms-linear-gradient(top, #f88539, #fb6402); /* IE9 */
	background: -moz-linear-gradient(top, #f88539, #fb6402); 
	background: -o-linear-gradient(top, #f88539, #fb6402); /* Opera 11  */
	background: -webkit-linear-gradient(top, #f88539, #fb6402); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f88539), color-stop(1, #fb6402)); /* Chrome 10, Safari */	
    
    box-shadow: inset 1px 2px 0 rgba(255,255,255,0.3);
  }

  .lizatom-3d-buttons-lightorange:before,
  .lizatom-3d-buttons-lightorange:after {
    border: 1px solid #d7671d;
    border-bottom: 1px solid #ab4c0d;
  }

  a.lizatom-3d-buttons-lightorange:hover {
    background: #f88539;
	background: -webkit-gradient(linear, left top, left bottom, from(#fb6402), to(#f88539));
	background: -moz-linear-gradient(top,  #fb6402,  #f88539);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb6402', endColorstr='#f88539'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb6402', endColorstr='#f88539'); /* ie8 */
	background-image: linear-gradient(top, #fb6402, #f88539); /* W3C */
	background: -ms-linear-gradient(top, #fb6402, #f88539); /* IE9 */
	background: -moz-linear-gradient(top, #fb6402, #f88539); 
	background: -o-linear-gradient(top, #fb6402, #f88539); /* Opera 11  */
	background: -webkit-linear-gradient(top, #fb6402, #f88539); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fb6402), color-stop(1, #f88539)); /* Chrome 10, Safari */	
  }
/* magenta */


a.lizatom-3d-buttons-magenta,
  a.lizatom-3d-buttons-magenta:hover,
  a.lizatom-3d-buttons-magenta:visited {
	outline:none;
	display: block;
	text-decoration: none;
    color: #382658;
    border-bottom: 5px solid #4d3672;
    text-shadow: 0px 1px 0px #835bce;
    

	background: #5a3f90;
	background: -webkit-gradient(linear, left top, left bottom, from(#7958ab), to(#5a3f90));
	background: -moz-linear-gradient(top,  #7958ab,  #5a3f90);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7958ab', endColorstr='#5a3f90'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7958ab', endColorstr='#5a3f90'); /* ie8 */
	background-image: linear-gradient(top, #7958ab, #5a3f90); /* W3C */
	background: -ms-linear-gradient(top, #7958ab, #5a3f90); /* IE9 */
	background: -moz-linear-gradient(top, #7958ab, #5a3f90); 
	background: -o-linear-gradient(top, #7958ab, #5a3f90); /* Opera 11  */
	background: -webkit-linear-gradient(top, #7958ab, #5a3f90); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7958ab), color-stop(1, #5a3f90)); /* Chrome 10, Safari */	
    
    box-shadow: inset 1px 2px 0 rgba(255,255,255,0.3);
  }

  .lizatom-3d-buttons-magenta:before,
  .lizatom-3d-buttons-magenta:after {
    border: 1px solid #594083;
    border-bottom: 1px solid #442d6a;
  }

  a.lizatom-3d-buttons-magenta:hover {
    background: #7958ab;
	background: -webkit-gradient(linear, left top, left bottom, from(#5a3f90), to(#7958ab));
	background: -moz-linear-gradient(top,  #5a3f90,  #7958ab);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a3f90', endColorstr='#7958ab'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a3f90', endColorstr='#7958ab'); /* ie8 */
	background-image: linear-gradient(top, #5a3f90, #7958ab); /* W3C */
	background: -ms-linear-gradient(top, #5a3f90, #7958ab); /* IE9 */
	background: -moz-linear-gradient(top, #5a3f90, #7958ab); 
	background: -o-linear-gradient(top, #5a3f90, #7958ab); /* Opera 11  */
	background: -webkit-linear-gradient(top, #5a3f90, #7958ab); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5a3f90), color-stop(1, #7958ab)); /* Chrome 10, Safari */	
  }

/* YELLOW */

 a.lizatom-3d-buttons-yellow,
  a.lizatom-3d-buttons-yellow:hover,
  a.lizatom-3d-buttons-yellow:visited {
	outline:none;
	display: block;
    color: #996633;
    border-bottom: 5px solid #b98a37;
    text-shadow: 0px 1px 0px #fedd9b;
    background: #feda71;
	background: -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febe4d));
	background: -moz-linear-gradient(top,  #feda71,  #febe4d);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71', endColorstr='#febe4d'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71', endColorstr='#febe4d'); /* ie8 */
	background-image: linear-gradient(top, #feda71, #febe4d); /* W3C */
	background: -ms-linear-gradient(top, #feda71, #febe4d); /* IE9 */
	background: -moz-linear-gradient(top, #feda71, #febe4d); 
	background: -o-linear-gradient(top, #feda71, #febe4d); /* Opera 11  */
	background: -webkit-linear-gradient(top, #feda71, #febe4d); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #feda71), color-stop(1, #febe4d)); /* Chrome 10, Safari */	
    
    box-shadow: inset 1px 2px 0 rgba(255,255,255,0.3);
  }

  .lizatom-3d-buttons-yellow:before,
  .lizatom-3d-buttons-yellow:after {
    border: 1px solid #eab551;
    border-bottom: 1px solid #9f7630;
  }

  a.lizatom-3d-buttons-yellow:hover {
    background: #febe4d;
	background: -webkit-gradient(linear, left top, left bottom, from(#febe4d), to(#feda71));
	background: -moz-linear-gradient(top,  #febe4d,  #feda71);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#febe4d', endColorstr='#feda71'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#febe4d', endColorstr='#feda71'); /* ie8 */
	background-image: linear-gradient(top, #febe4d, #feda71); /* W3C */
	background: -ms-linear-gradient(top, #febe4d, #feda71); /* IE9 */
	background: -moz-linear-gradient(top, #febe4d, #feda71); 
	background: -o-linear-gradient(top, #febe4d, #feda71); /* Opera 11  */
	background: -webkit-linear-gradient(top, #febe4d, #feda71); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #febe4d), color-stop(1, #feda71)); /* Chrome 10, Safari */	
  }

  /* PINK */
  a.lizatom-3d-buttons-pink,
  a.lizatom-3d-buttons-pink:hover,
  a.lizatom-3d-buttons-pink:visited {
    outline:none;
	display: block;
	color: #913944;
    border-bottom: 5px solid #cb5462;
    text-shadow: 0px 1px 0px #f9a0ad;
    background: #f56778;
	background: -webkit-gradient(linear, left top, left bottom, from(#f997b0), to(#f56778));
	background: -moz-linear-gradient(top,  #f997b0,  #f56778);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f997b0', endColorstr='#f56778'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f997b0', endColorstr='#f56778'); /* ie8 */
	background-image: linear-gradient(top, #f997b0, #f56778); /* W3C */
	background: -ms-linear-gradient(top, #f997b0, #f56778); /* IE9 */
	background: -moz-linear-gradient(top, #f997b0, #f56778); 
	background: -o-linear-gradient(top, #f997b0, #f56778); /* Opera 11  */
	background: -webkit-linear-gradient(top, #f997b0, #f56778); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f997b0), color-stop(1, #f56778)); /* Chrome 10, Safari */	
    
  box-shadow: inset 1px 2px 0 rgba(255,255,255,0.3);
  }

  .lizatom-3d-buttons-pink:before,
  .lizatom-3d-buttons-pink:after {
    border: 1px solid #ee8090;
    border-bottom: 1px solid #b84d5a;
  }

  a.lizatom-3d-buttons-pink:hover {
    background: #f997b0;
 	background: -webkit-gradient(linear, left top, left bottom, from(#f56778), to(#f997b0));
	background: -moz-linear-gradient(top,  #f56778,  #f997b0);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f56778', endColorstr='#f997b0'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f56778', endColorstr='#f997b0'); /* ie8 */
	background-image: linear-gradient(top, #f56778, #f997b0); /* W3C */
	background: -ms-linear-gradient(top, #f56778, #f997b0); /* IE9 */
	background: -moz-linear-gradient(top, #f56778, #f997b0); 
	background: -o-linear-gradient(top, #f56778, #f997b0); /* Opera 11  */
	background: -webkit-linear-gradient(top, #f56778, #f997b0); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f56778), color-stop(1, #f997b0)); /* Chrome 10, Safari */	
  }
  
  
    /* PURPLE */
  a.lizatom-3d-buttons-purple,
  a.lizatom-3d-buttons-purple:hover,
  a.lizatom-3d-buttons-purple:visited {
    outline:none;
	display: block;
	color: #7b5777;
    border-bottom: 5px solid #946890;
    text-shadow: 0px 1px 0px #eacae6;
    background: #e8c4e4;
   	background: -webkit-gradient(linear, left top, left bottom, from(#e8c4e4), to(#d698d0));
	background: -moz-linear-gradient(top,  #e8c4e4,  #d698d0);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8c4e4', endColorstr='#d698d0'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8c4e4', endColorstr='#d698d0'); /* ie8 */
	background-image: linear-gradient(top, #e8c4e4, #d698d0); /* W3C */
	background: -ms-linear-gradient(top, #e8c4e4, #d698d0); /* IE9 */
	background: -moz-linear-gradient(top, #e8c4e4, #d698d0); 
	background: -o-linear-gradient(top, #e8c4e4, #d698d0); /* Opera 11  */
	background: -webkit-linear-gradient(top, #e8c4e4, #d698d0); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8c4e4), color-stop(1, #d698d0)); /* Chrome 10, Safari */	
    
    box-shadow: inset 1px 2px 0 rgba(255,255,255,0.3);
  }

  .lizatom-3d-buttons-purple:before,
  .lizatom-3d-buttons-purple:after {
    border: 1px solid #da9fd4;
    border-bottom: 1px solid #865d82;
  }

  a.purple:hover {
    background: #d698d0;
   	background: -webkit-gradient(linear, left top, left bottom, from(#d698d0), to(#e8c4e4));
	background: -moz-linear-gradient(top,  #d698d0,  #e8c4e4);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d698d0', endColorstr='#e8c4e4'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d698d0', endColorstr='#e8c4e4'); /* ie8 */
	background-image: linear-gradient(top, #d698d0, #e8c4e4); /* W3C */
	background: -ms-linear-gradient(top, #d698d0, #e8c4e4); /* IE9 */
	background: -moz-linear-gradient(top, #d698d0, #e8c4e4); 
	background: -o-linear-gradient(top, #d698d0, #e8c4e4); /* Opera 11  */
	background: -webkit-linear-gradient(top, #d698d0, #e8c4e4); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d698d0), color-stop(1, #e8c4e4)); /* Chrome 10, Safari */	
  }

  /* DARK BLUE */
  a.lizatom-3d-buttons-darkblue,
  a.lizatom-3d-buttons-darkblue:hover,
  a.lizatom-3d-buttons-darkblue:visited {
    outline:none;
	display: block;
	color: #515f6a;
    border-bottom: 5px solid #62727e;
    text-shadow: 0px 1px 0px #c4d0da;
    background: #becbd6;
   	background: -webkit-gradient(linear, left top, left bottom, from(#becbd6), to(#8da5b7));
	background: -moz-linear-gradient(top,  #becbd6,  #8da5b7);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#becbd6', endColorstr='#8da5b7'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#becbd6', endColorstr='#8da5b7'); /* ie8 */
	background-image: linear-gradient(top, #becbd6, #8da5b7); /* W3C */
	background: -ms-linear-gradient(top, #becbd6, #8da5b7); /* IE9 */
	background: -moz-linear-gradient(top, #becbd6, #8da5b7); 
	background: -o-linear-gradient(top, #becbd6, #8da5b7); /* Opera 11  */
	background: -webkit-linear-gradient(top, #becbd6, #8da5b7); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #becbd6), color-stop(1, #8da5b7)); /* Chrome 10, Safari */	
    
     box-shadow: inset 1px 2px 0 rgba(255,255,255,0.3);
  }

  .lizatom-3d-buttons-darkblue:before,
  .lizatom-3d-buttons-darkblue:after {
    border: 1px solid #a1aeb7;
    border-bottom: 1px solid #5d6b75;
  }

  a.lizatom-3d-buttons-darkblue:hover {
    background: #8da5b7;
   	background: -webkit-gradient(linear, left top, left bottom, from(#8da5b7), to(#becbd6));
	background: -moz-linear-gradient(top,  #8da5b7,  #becbd6);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8da5b7', endColorstr='#becbd6'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8da5b7', endColorstr='#becbd6'); /* ie8 */
	background-image: linear-gradient(top, #8da5b7, #becbd6); /* W3C */
	background: -ms-linear-gradient(top, #8da5b7, #becbd6); /* IE9 */
	background: -moz-linear-gradient(top, #8da5b7, #becbd6); 
	background: -o-linear-gradient(top, #8da5b7, #becbd6); /* Opera 11  */
	background: -webkit-linear-gradient(top, #8da5b7, #becbd6); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8da5b7), color-stop(1, #becbd6)); /* Chrome 10, Safari */	
  }
  
   /* DARK GRAY */
  a.lizatom-3d-buttons-darkgray,
  a.lizatom-3d-buttons-darkgray:hover,
  a.lizatom-3d-buttons-darkgray:visited {
    outline:none;
    display: block;
    color: #555;
    border-bottom: 5px solid #878787;
    text-shadow: 0px 1px 0px #d6d6d6;
     background: #d1d1d1;
   	background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#afafaf));
	background: -moz-linear-gradient(top,  #d1d1d1,  #afafaf);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#afafaf'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#afafaf'); /* ie8 */
	background-image: linear-gradient(top, #d1d1d1, #afafaf); /* W3C */
	background: -ms-linear-gradient(top, #d1d1d1, #afafaf); /* IE9 */
	background: -moz-linear-gradient(top, #d1d1d1, #afafaf); 
	background: -o-linear-gradient(top, #d1d1d1, #afafaf); /* Opera 11  */
	background: -webkit-linear-gradient(top, #d1d1d1, #afafaf); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1d1d1), color-stop(1, #afafaf)); /* Chrome 10, Safari */	
    
    box-shadow: inset 1px 2px 0 rgba(255,255,255,0.3);
  }

  .lizatom-3d-buttons-darkgray:before,
  .lizatom-3d-buttons-darkgray:after {
    border: 1px solid #b4b4b4;
    border-bottom: 1px solid #7b7b7b;
  }

  a.lizatom-3d-buttons-darkgray:hover {
    background: #afafaf;
   	background: -webkit-gradient(linear, left top, left bottom, from(#afafaf), to(#d1d1d1));
	background: -moz-linear-gradient(top,  #afafaf,  #d1d1d1);/* Firefox */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#afafaf', endColorstr='#d1d1d1'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#afafaf', endColorstr='#d1d1d1'); /* ie8 */
	background-image: linear-gradient(top, #afafaf, #d1d1d1); /* W3C */
	background: -ms-linear-gradient(top, #afafaf, #d1d1d1); /* IE9 */
	background: -moz-linear-gradient(top, #afafaf, #d1d1d1); 
	background: -o-linear-gradient(top, #afafaf, #d1d1d1); /* Opera 11  */
	background: -webkit-linear-gradient(top, #afafaf, #d1d1d1); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #afafaf), color-stop(1, #d1d1d1)); /* Chrome 10, Safari */	
  }
  

a.lizatom-3d-buttons-button:active {
    border: none;
    bottom: -5px;
    margin-bottom: 5px;
     
    -webkit-box-shadow: 0 1px 1px #fff;
    -moz-box-shadow:  0 1px 1px #fff;
    box-shadow:  1px 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 1px rgba(0, 0, 0, 0.4);
}
 
a.lizatom-3d-buttons-button:active:before,
a.lizatom-3d-buttons-button:active:after {
    border: none;  
     
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


