/*====================================================================================================
 * I N F O B O X                                                                       I N F O B O X *
 =====================================================================================================*/

.lizatom-infobox {
	min-height: 70px;	
	width: auto;
	display: block;
	position: relative;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
	-moz-box-shadow: 2px 2px 2px #cfcfcf;
	-webkit-box-shadow: 2px 2px 4px #cfcfcf;
	box-shadow: 2px 2px 2px #cfcfcf;	
	margin-bottom: 30px;
}

.lizatom-infobox span.close-infobox {
	background: url(../images/boxes/close.png) no-repeat right top;
	display: block;
	width: 19px;
	height: 19px;
	position: absolute;
	top:-9px;
	right: -8px;
    cursor: pointer;
}

.lizatom-infobox .text {
	overflow: hidden;
	
}

.lizatom-infobox p {
	width: auto;	
	font-family: Arial, Helvetica, sans-serif;
	color: #323232;
	font-size: 12px;
	line-height: 18px;
	text-align: justify;
	float: right;
	margin-right: 15px !important;
    margin-top: 15px !important; 
	*margin-top: 15px !important; 
	 text-shadow: 0px 0px 1px #f9f9f9;
}

.lizatom-infobox strong { font-weight: bold; }

.autoWidth{
	width: auto;	
}

.autoWidth p {
	width: auto;
	float: left;	
}

.success {
	border-top: 1px solid #edf7d0;
	border-bottom: 1px solid #b7e789;
	background: #dff3a8;
	background: -moz-linear-gradient(top,#dff3a8,#c4fb92);
	background: -webkit-gradient(linear, left top, left bottom, from(#dff3a8), to(#c4fb92));
}

.success:before {
	content: url(../images/boxes/success.png);
	float: left;
	margin: 23px 15px 0px 15px;
}

.success strong {
	color: #61b316;
	margin-right: 15px;
}

.lizatom-infobox.warning {
	border-top: 1px solid #fefbcd;
	border-bottom: 1px solid #e6e837;
	background: #feffb1;
	background: -moz-linear-gradient(top,#feffb1,#f0f17f);
	background: -webkit-gradient(linear, left top, left bottom, from(#feffb1), to(#f0f17f));
}

.lizatom-infobox.warning:before {
	content: url(../images/boxes/warning.png);
	float: left;
	margin: 15px 15px 0px 25px;
}

.lizatom-infobox.warning strong {
	color: #e5ac00;
	margin-right: 15px;
}

.lizatom-infobox.tip {
	border-top: 1px solid #fbe4ae;
	border-bottom: 1px solid #d9a87d;
	background: #f9d9a1;
	background: -moz-linear-gradient(top,#f9d9a1,#eabc7a);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9d9a1), to(#eabc7a));
}

.lizatom-infobox.tip:before {
	content: url(../images/boxes/tip.png);
	float: left;
	margin: 20px 15px 0px 15px;
}

.lizatom-infobox.tip strong {
	color: #b26b17;
	margin-right: 15px;
}

.lizatom-infobox.error {
	border-top: 1px solid #f7d0d0;
	border-bottom: 1px solid #c87676;
	background: #f3c7c7;
	background: -moz-linear-gradient(top,#f3c7c7,#eea2a2);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3c7c7), to(#eea2a2));
}

.lizatom-infobox.error:before {
	content: url(../images/boxes/error.png);
	float: left;
	margin: 20px 15px 0px 15px;
}

.lizatom-infobox.error strong {
	color: #b31616;
	margin-right: 15px;
}

.lizatom-infobox.secure {
	border-top: 1px solid #efe0fe;
	border-bottom: 1px solid #d3bee9;
	background: #e5cefe;
	background: -moz-linear-gradient(top,#e5cefe,#e4bef9);
	background: -webkit-gradient(linear, left top, left bottom, from(#e5cefe), to(#e4bef9));
}

.lizatom-infobox.secure:before {
	content: url(../images/boxes/secure.png);
	float: left;
	margin: 18px 15px 0px 15px;
}

.lizatom-infobox.secure strong {
	color: #6417b2;
	margin-right: 15px;
}

.lizatom-infobox.info {
	border-top: 1px solid #f3fbff;
	border-bottom: 1px solid #bedae9;
	background: #e0f4ff;
	background: -moz-linear-gradient(top,#e0f4ff,#d4e6f0);
	background: -webkit-gradient(linear, left top, left bottom, from(#e0f4ff), to(#d4e6f0));
}

.lizatom-infobox.info:before {
	content: url(../images/boxes/info.png);
	float: left;
	margin: 18px 15px 0px 21px;
}

.lizatom-infobox.info strong {
	color: #177fb2;
	margin-right: 15px;
}

.lizatom-infobox.message {
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #d7d7d7;
	background: #f0f0f0;
	background: -moz-linear-gradient(top,#f0f0f0,#e1e1e1);
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e1e1e1));
}

.lizatom-infobox.message:before {
	content: url(../images/boxes/message.png);
	float: left;
	margin: 25px 15px 0px 15px;
}

.lizatom-infobox.message strong {
	color: #323232;
	margin-right: 15px;
}

.lizatom-infobox.download {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #eeeeee;
	background: #f7f7f7;
	background: -moz-linear-gradient(top,#f7f7f7,#f0f0f0);
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f0f0f0));
}

.lizatom-infobox.download:before {
	content: url(../images/boxes/download.png);
	float: left;
	margin: 16px 15px 0px 18px;
}

.lizatom-infobox.download strong {
	color: #037cda;
	margin-right: 15px;
}

.lizatom-infobox.purchase {
	border-top: 1px solid #d1f7f8;
	border-bottom: 1px solid #8eabb1;
	background: #c4e4e4;
	background: -moz-linear-gradient(top,#c4e4e4,#97b8bf);
	background: -webkit-gradient(linear, left top, left bottom, from(#c4e4e4), to(#97b8bf));
}

.lizatom-infobox.purchase:before {
	content: url(../images/boxes/purchase.png);
	float: left;
	margin: 19px 15px 0px 15px;
}

.lizatom-infobox.purchase strong {
	color: #426065;
	margin-right: 15px;
}

.lizatom-infobox.print {
	border-top: 1px solid #dde9f3;
	border-bottom: 1px solid #8fa6b2;
	background: #cfdde8;
	background: -moz-linear-gradient(top,#cfdde8,#9eb3bd);
	background: -webkit-gradient(linear, left top, left bottom, from(#cfdde8), to(#9eb3bd));
}

.lizatom-infobox.print:before {
	content: url(../images/boxes/print.png);
	float: left;
	margin: 19px 15px 0px 15px;
}

.lizatom-infobox.print strong {
	color: #3f4c6b;
	margin-right: 15px;
}