.lts-portfolio-type1-container,
.lts-portfolio-type2-container,
.lts-portfolio-type3-container {
	width: 100%;
	padding: 10px auto 30px auto;
	clear: both;
}

/* CSS reset */
ul.lts-portfolio-type1-items,
ol.lts-portfolio-type1-items,
ul.lts-portfolio-type2-items,
ol.lts-portfolio-type2-items,
ul.lts-portfolio-type3-items,
ol.lts-portfolio-type3-items {
	margin: 30px 0 40px 0 !important; padding: 0 0 0 0;
}

ul.lts-portfolio-type1-items li,
ul.lts-portfolio-type2-items li,
ul.lts-portfolio-type3-items li {	
	list-style:none;
	position: relative; 
	display: block;
	margin-left: 0 !important;
	margin-left: 0rem !important;
}

.lts-portfolio-type1-container label,
.lts-portfolio-type2-container label,
.lts-portfolio-type3-container label {
	width: auto;
	cursor: pointer;
	color: #777;
	font-size: 13px;	
	float:left;
	margin: 0 10px 0 0;
	padding: 3px 6px 3px 6px;
}

.lts-portfolio-type1-container input,
.lts-portfolio-type2-container input,
.lts-portfolio-type3-container input {
	display: none;
}
.lts-portfolio-type1-items{
	position: relative;
	margin: 0px auto;
	padding-top: 20px;
}

.lts-portfolio-type1-items a,
.lts-portfolio-type2-items a,
.lts-portfolio-type3-items a {
	display: block;
	position: relative;	
	margin: 0;  	
}
.lts-portfolio-type1-items a span,
.lts-portfolio-type2-items a span,
.lts-portfolio-type3-items a span {
	display: block;
	background: url(../images/portfolio/zoom.png) no-repeat center center;
	font-style: italic;
	color: #fff;
	font-weight: bold;
	padding: 0px;
	position: absolute;
	bottom: 0;
	left: 0; 
	width: 100%;
	height: 0px;
	overflow: hidden;
	opacity: 0;
	text-align: center;	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.lts-portfolio-type1-items a:hover span,
.lts-portfolio-type2-items a:hover span,
.lts-portfolio-type3-items a:hover span {
	height: 100%;
	opacity: 1;
}
.lts-portfolio-type1-items li img,
.lts-portfolio-type2-items li img,
.lts-portfolio-type3-items li img {
	display: block;
	width: 100%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.lts-portfolio-type1-items li {	
	float: left;  	
	-webkit-transition: opacity 0.6s ease-in-out;
	-moz-transition: opacity 0.6s ease-in-out;
	-o-transition: opacity 0.6s ease-in-out;
	-ms-transition: opacity 0.6s ease-in-out;
	transition: opacity 0.6s ease-in-out;
}

.lts-portfolio-type2-items li{	
	float: left;	
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.lts-portfolio-type3-items li{	
	float: left;
	height: auto;
	width: 0px;
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
}
