/*====================================================================================================
 *  S E R V I C E S                                                                 S E R V I C E S  *
 =====================================================================================================*/

.lizatom-service-primo.size-48x48 h3 { font-size: 20px; padding: 0 0 0 0; margin: 0 0 30px 0; }
.lizatom-service-primo.size-48x48 h3 img { position: relative; display: inline-block; margin: 0px 10px -13px 0; }
.lizatom-service-primo.size-64x64 h3 { font-size: 26px; padding: 0 0 0 0; margin: 0 0 20px 0; }
.lizatom-service-primo.size-64x64 h3 img { position: relative; display: inline-block; margin: 0px 10px -13px 0; }
.lizatom-service-fatcow h3 { font-size: 24px; padding: 0 0 0 0; margin: 0 0 20px 0; }
.lizatom-service-fatcow h3 img { position: relative; display: inline-block; margin: 0px 10px -13px 0; }

