/*====================================================================================================
 * L I S T S                                                                               L I S T S *
 =====================================================================================================*/

ul.lizatom-list li,
ul.lizatom-list li ul li{ list-style-type: none !important; }
ul.lizatom-list li       { padding: 0 0 0px 30px; line-height: 20px; }
ul.lizatom-list li ul    { margin-left: 0px; }
ul.lizatom-list.cross li    { background: url(../images/lists/cross.png) no-repeat left center; }
ul.lizatom-list.tick li     { background: url(../images/lists/tick.png) no-repeat left center; }
ul.lizatom-list.play li     { background: url(../images/lists/play.png) no-repeat left center; }
ul.lizatom-list.thumb_up li { background: url(../images/lists/thumb_up.png) no-repeat left center; }
ul.lizatom-list.dot li      { background: url(../images/lists/dot.png) no-repeat left center; }
ul.lizatom-list.bullet_add li      { background: url(../images/lists/bullet_add.png) no-repeat left center; }
ul.lizatom-list.bullet_arrow_bottom li      { background: url(../images/lists/bullet_arrow_bottom.png) no-repeat left center; }
ul.lizatom-list.bullet_arrow_down li      { background: url(../images/lists/bullet_arrow_down.png) no-repeat left center; }
ul.lizatom-list.bullet_arrow_left li      { background: url(../images/lists/bullet_arrow_left.png) no-repeat left center; }
ul.lizatom-list.bullet_arrow_left_2 li      { background: url(../images/lists/bullet_arrow_left_2.png) no-repeat left center; }
ul.lizatom-list.bullet_arrow_right li      { background: url(../images/lists/bullet_arrow_right.png) no-repeat left center; }
ul.lizatom-list.bullet__arrow_right_2 li      { background: url(../images/lists/bullet_arrow_right_2.png) no-repeat left center; }
ul.lizatom-list.bullet_arrow_top li      { background: url(../images/lists/bullet_arrow_top.png) no-repeat left center; }
ul.lizatom-list.bullet_arrow_up li      { background: url(../images/lists/bullet_arrow_up.png) no-repeat left center; }
ul.lizatom-list.bullet_black li      { background: url(../images/lists/bullet_black.png) no-repeat left center; }
ul.lizatom-list.bullet_blue li      { background: url(../images/lists/bullet_blue.png) no-repeat left center; }
ul.lizatom-list.bullet_delete li      { background: url(../images/lists/bullet_delete.png) no-repeat left center; }
ul.lizatom-list.bullet_disk li      { background: url(../images/lists/bullet_disk.png) no-repeat left center; }
ul.lizatom-list.bullet_error li      { background: url(../images/lists/bullet_error.png) no-repeat left center; }
ul.lizatom-list.bullet_feed li      { background: url(../images/lists/bullet_feed.png) no-repeat left center; }
ul.lizatom-list.bullet_go li      { background: url(../images/lists/bullet_go.png) no-repeat left center; }
ul.lizatom-list.bullet_green li      { background: url(../images/lists/bullet_green.png) no-repeat left center; }
ul.lizatom-list.bullet_key li      { background: url(../images/lists/bullet_key.png) no-repeat left center; }
ul.lizatom-list.bullet_orange li      { background: url(../images/lists/bullet_orange.png) no-repeat left center; }
ul.lizatom-list.bullet_picture li      { background: url(../images/lists/bullet_picture.png) no-repeat left center; }
ul.lizatom-list.bullet_pink li      { background: url(../images/lists/bullet_pink.png) no-repeat left center; }
ul.lizatom-list.bullet_purple li      { background: url(../images/lists/bullet_purple.png) no-repeat left center; }
ul.lizatom-list.bullet_red li      { background: url(../images/lists/bullet_red.png) no-repeat left center; }
ul.lizatom-list.bullet_star li      { background: url(../images/lists/bullet_star.png) no-repeat left center; }
ul.lizatom-list.bullet_toggle_minus li      { background: url(../images/lists/bullet_toggle_minus.png) no-repeat left center; }
ul.lizatom-list.bullet_toggle_plus li      { background: url(../images/lists/bullet_toggle_plus.png) no-repeat left center; }
ul.lizatom-list.bullet_white li      { background: url(../images/lists/bullet_white.png) no-repeat left center; }
ul.lizatom-list.bullet_wrench li      { background: url(../images/lists/bullet_wrench.png) no-repeat left center; }
ul.lizatom-list.bullet_yellow li      { background: url(../images/lists/bullet_yellow.png) no-repeat left center; }
