/*
CSS3 Accordions
Author: QuanticaLabs & Lizatom.com
*/

.lizatom-css3accordion-horizontal,
.lizatom-css3accordion-vertical { width: auto; position: relative; margin-bottom: 30px; } 
/*h o r i z o n t a l*/
/* --- accordion body --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion
	{
	width: auto;	/* total width = 510 */
	height: 100%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: normal;
	/* CSS3 radius */
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-background-clip: padding-box;
	}
	
/* --- lists global --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion ul.qlabs_accordion,
.lizatom-css3accordion-horizontal div.qlabs_accordion ul.qlabs_accordion li.block
	{
	padding: 0px 0 0 0 !important;
	margin: 0px 0 0 0 !important;
	list-style: none;
	line-height: normal;
	list-style-type: none !important;
	}
.lizatom-css3accordion-horizontal div.qlabs_accordion ul.qlabs_accordion ul li
	{ list-style-type: none !important; }
	
/* --- links global --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion a
	{
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: normal;
	text-decoration: none;
	outline: none;
	}
	
.lizatom-css3accordion-horizontal div.qlabs_accordion a:hover
	{
	text-decoration: underline;
	}	
	
/* --- accordion header label --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block_header
	{
	width: 100%;
	height: 38px;	/* total height = 38 */
	padding: 8px 10px 10px 10px !important;
	font-weight: bold;
	}
	
/* --- single block arrow --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block div.arrow
	{
	width: 0px;
	height: 0px;
	float: right;
	margin-top: -22px;
	margin-right: 10px;
	visibility: visible;
	background-color: transparent;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 0;
	}

/* --- single block label --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block a.header
	{
	height: 38px;
	padding: 10px 10px 8px 10px;
	display: block;
	border-bottom: none;
	/* CSS3 transition */
	-webkit-transition: padding-left 0.1s ease-out;
	-moz-transition: padding-left 0.1s ease-out;
	-o-transition: padding-left 0.1s ease-out;
	-ms-transition: padding-left 0.1s ease-out;
	transition: padding-left 0.1s ease-out;
	}
	
/* ---  single block hover --- */	
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block a.header:hover
	{
	text-decoration: none !important;
	padding-left: 20px;
	}
	
/* --- single block section --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block div
	{
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	/* CSS3 transition */
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	-ms-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
	}
	
/* --- single block section paragraph --- */	
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block div p
	{
	padding: 10px 10px 10px 10px !important;
	margin: 0px;
	position: relative;
	top: 50px;
	}
	
/* --- single block target --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block:target,
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block.target
	{
	width: 100%;
	}

/* ---  single block label target --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block:target a.header,
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block.target a.header
	{
	font-weight: bold;	
	}
	
/* --- single block section target --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li:target div,
.lizatom-css3accordion-horizontal div.qlabs_accordion li.target div
	{
	width: 100%;
	height: 150px;	/* expanded section height */
	visibility: visible;
	overflow: auto;
	}
	
/* --- single block section paragraph target --- */	
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block:target div p,
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block.target div p
	{
	top: 0px;
	z-index: 0;
	}
	
/* --- single block arrow target --- */		
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block:target div.arrow,
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block.target div.arrow
	{
	margin-top: -23px;
	}

/* --- accordion body --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion
	{
	color: #666666;
	background-color: gray;
	}

/* --- links global --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion a
	{
	}
	
/* --- accordion header label --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block_header
	{
	color: #ffffff;
	}
	
/* --- single block --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block
	{
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #bcbcbc;
	background-color: #e8e8e8; /* background color for non-css3 browsers */
	/* CSS3 gradient */
	background-image: linear-gradient(top, #ebebeb, #e3e3e3); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#e3e3e3'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#e3e3e3'); /* IE8 */
	background: -ms-linear-gradient(top, #ebebeb, #e3e3e3); /* IE9 */
	background: -moz-linear-gradient(top, #ebebeb, #e3e3e3); /* Firefox */ 
	background: -o-linear-gradient(top, #ebebeb, #e3e3e3); /* Opera 11  */
	background: -webkit-linear-gradient(top, #ebebeb, #e3e3e3); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #e3e3e3)); /* Chrome 10, Safari */
	}
	
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block:nth-last-child(1)
	{
	border-bottom: 0;
	}
	
/* --- single block arrow --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block div.arrow
	{
	border-top: 4px solid #aaaaaa;
	}

/* --- single block label --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block a.header
	{
	color: #666666;
	text-shadow: 0px 1px 0px #ffffff;
	}

/* ---  single block hover --- */	
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block a.header:hover
	{
	color: #222222;
	text-shadow: 0px 1px 0px #ffffff;
	background-color: #f1f1f1; /* background color for non-css3 browsers */
	/* CSS3 gradient */
	background-image: linear-gradient(top, #f5f5f5, #ececec); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ececec'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ececec'); /* IE8 */
	background: -ms-linear-gradient(top, #f5f5f5, #ececec); /* IE9 */
	background: -moz-linear-gradient(top, #f5f5f5, #ececec); /* Firefox */ 
	background: -o-linear-gradient(top, #f5f5f5, #ececec); /* Opera 11  */
	background: -webkit-linear-gradient(top, #f5f5f5, #ececec); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #ececec)); /* Chrome 10, Safari */
	}
	
/* ---  single block label target --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block:target a.header,
.lizatom-css3accordion-horizontal div.qlabs_accordion li.block.target a.header
	{
	color: #222222;
	text-shadow: 0px 1px 0px #ffffff;
	border-bottom: 1px solid #bcbcbc;
	background-color: #f1f1f1; /* background color for non-css3 browsers */
	/* CSS3 gradient */
	background-image: linear-gradient(top, #f5f5f5, #ececec); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ececec'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ececec'); /* IE8 */
	background: -ms-linear-gradient(top, #f5f5f5, #ececec); /* IE9 */
	background: -moz-linear-gradient(top, #f5f5f5, #ececec); /* Firefox */ 
	background: -o-linear-gradient(top, #f5f5f5, #ececec); /* Opera 11  */
	background: -webkit-linear-gradient(top, #f5f5f5, #ececec); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #ececec)); /* Chrome 10, Safari */	
	}	
		
/* --- single block section target --- */
.lizatom-css3accordion-horizontal div.qlabs_accordion li:target div,
.lizatom-css3accordion-horizontal div.qlabs_accordion li.target div
	{
	background-color: #ffffff;
	border-top: 1px solid #ececec;
	}	
	

/*v e r t i c a l*/
/* --- accordion body --- */
.lizatom-css3accordion-vertical div.qlabs_accordion
	{
	width: 500px;	/* total width = 510 */
	height: 400px;	/* total height = 410 */
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: normal;
	/* CSS3 radius */
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-background-clip: padding-box;
	}
	
/* --- lists global --- */
.lizatom-css3accordion-vertical div.qlabs_accordion ul.qlabs_accordion,
.lizatom-css3accordion-vertical div.qlabs_accordion ul.qlabs_accordion li.block
	{
	padding: 0px;
	margin: 0px;
	list-style: none;
	line-height: normal;
	}
.lizatom-css3accordion-vertical div.qlabs_accordion ul.qlabs_accordion ul li
	{
	list-style: square;
	}	
	
/* --- links global --- */
.lizatom-css3accordion-vertical div.qlabs_accordion a
	{
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: normal;
	text-decoration: none;
	outline: none;
	}
	
.lizatom-css3accordion-vertical div.qlabs_accordion a:hover
	{
	text-decoration: underline;
	}

/* --- accordion header label --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block_header
	{
	width: 100%;
	height: 20px;	/* total height = 38 */
	padding: 8px 10px 10px 10px;
	font-weight: bold;
	}
	
/* --- single block --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block
	{
	width: 40px;
	height: 362px;	/* total height = 362 */
	float: left;
	position: relative;
	/* CSS3 transition */
	-webkit-transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
	-ms-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	}

/* ---  single block label --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block a.header
	{
	width: 342px;
	height: 30px;	/* total height = 362 */
	padding: 10px 10px 0px 10px;
	display: block;
	float: left;
	/* CSS3 transition */
	-webkit-transition: padding-left 0.1s ease-out;
	-moz-transition: padding-left 0.1s ease-out;
	-o-transition: padding-left 0.1s ease-out;
	-ms-transition: padding-left 0.1s ease-out;
	transition: padding-left 0.1s ease-out;
	/* CSS3 rotation */
    white-space: nowrap;
    transform: rotate(-90.0deg) translate(-322px, 40px); /* W3C */
    transform-origin: 0 100%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3.0); /* IE5.5 - 7 */
    -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3.0); /* IE8 */
    -moz-transform: rotate(-90.0deg) translate(-322px, 40px); /* Firefox */
    -moz-transform-origin: 0 100%;
    -o-transform: rotate(-90.0deg) translate(-322px, 40px); /* Opera 11  */
    -o-transform-origin: 0 100%;
    -webkit-transform: rotate(-90.0deg) translate(-322px, 40px); /* Chrome 10, Safari */
    -webkit-transform-origin: 0 100%;
	}
	
/* ---  single block hover --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block  a.header:hover
	{
	text-decoration: none !important;
	/* CSS3 rotation */
    white-space: nowrap;
    transform: rotate(-90.0deg) translate(-322px, 40px); /* W3C */
    transform-origin: 0 100%;
    -moz-transform: rotate(-90.0deg) translate(-322px, 40px); /* Firefox */
    -moz-transform-origin: 0 100%;
    -o-transform: rotate(-90.0deg) translate(-322px, 40px); /* Opera 11  */
    -o-transform-origin: 0 100%;
    -webkit-transform: rotate(-90.0deg) translate(-322px, 40px); /* Chrome 10, Safari */
    -webkit-transform-origin: 0 100%;
	}
	
/* --- single block section --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block div
	{
	width: 0px;
	height: 0px;
	position: absolute;
	left: 41px;
	visibility: hidden;
	overflow: hidden;
	/* CSS3 transition */
	-webkit-transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
	-ms-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	}
	
/* --- single block section paragraph --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block div p
	{
	padding: 10px 10px 10px 10px;
	margin: 0px;
	left: 50px;
	}
	
/* --- single block target --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block:target,
.lizatom-css3accordion-vertical div.qlabs_accordion li.block.target
	{
	width: 330px;	/* expanded section width #1 */
	}
	
/* ---  single block label target --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block:target a.header,
.lizatom-css3accordion-vertical div.qlabs_accordion li.block.target a.header
	{
	height: 29px;
	font-weight: bold;
	/* CSS3 rotation */
    white-space: nowrap;
    transform: rotate(-90.0deg) translate(-322px, 40px); /* W3C */
    transform-origin: 0 100%;
    -moz-transform: rotate(-90.0deg) translate(-322px, 40px); /* Firefox */
    -moz-transform-origin: 0 100%;
    -o-transform: rotate(-90.0deg) translate(-322px, 40px); /* Opera 11  */
    -o-transform-origin: 0 100%;
    -webkit-transform: rotate(-90.0deg) translate(-322px, 40px); /* Chrome 10, Safari */
    -webkit-transform-origin: 0 100%;
	}

/* --- single block section target --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li:target div,
.lizatom-css3accordion-vertical div.qlabs_accordion li.target div
	{
	width: 289px;	/* expanded section width #2 */
	height: 100%;
	position: absolute;
	left: 40px;
	float: left;
	visibility: visible;
	overflow-y: auto;
	}

/* --- single block section paragraph target --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block:target div p,
.lizatom-css3accordion-vertical div.qlabs_accordion li.block.target div p
	{
	position: relative;
	left: 0px;
	}

/* --- accordion body --- */
.lizatom-css3accordion-vertical div.qlabs_accordion
	{
	color: #666666;
	background-color: #098365;
	}
	
/* --- links global --- */
.lizatom-css3accordion-vertical div.qlabs_accordion a
	{
	color: #098365;
	}
	
/* --- accordion header label --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block_header
	{
	color: #ffffff;
	}
	
/* --- single block --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block
	{
	border-left: 1px solid #ffffff;
	border-right: 1px solid #bcbcbc;
	background-color: #e8e8e8; /* background color for non-css3 browsers */
	/* CSS3 gradient */
	background-image: linear-gradient(left, #ebebeb, #e3e3e3); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#e3e3e3',GradientType=1); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#e3e3e3',GradientType=1); /* IE8 */
	background: -ms-linear-gradient(left, #ebebeb, #e3e3e3); /* IE9 */
	background: -moz-linear-gradient(left, #ebebeb, #e3e3e3); /* Firefox */ 
	background: -o-linear-gradient(left, #ebebeb, #e3e3e3); /* Opera 11  */
	background: -webkit-linear-gradient(left, #ebebeb, #e3e3e3); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #ebebeb), color-stop(1, #e3e3e3)); /* Chrome 10, Safari */
	}	
	
.lizatom-css3accordion-vertical div.qlabs_accordion li.block:nth-last-child(1)
	{
	border-right: 0;
	}
	
/* ---  single block label --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block a.header
	{
	color: #666666;
	text-shadow: 0px 1px 0px #ffffff;
	}
	
/* ---  single block hover --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block a.header:hover
	{
	color: #222222;
	text-shadow: 0px 1px 0px #ffffff;
	background-color: #f1f1f1; /* background color for non-css3 browsers */
	/* CSS3 gradient */
	background-image: linear-gradient(top, #f5f5f5, #ececec); /* W3C */
	background: -ms-linear-gradient(top, #f5f5f5, #ececec); /* IE9 */
	background: -moz-linear-gradient(top, #f5f5f5, #ececec); /* Firefox */
	background: -o-linear-gradient(top, #f5f5f5, #ececec); /* Opera 11  */
	background: -webkit-linear-gradient(top, #f5f5f5, #ececec); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #ececec)); /* Chrome 10, Safari */
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ececec') progid:DXImageTransform.Microsoft.BasicImage(rotation=3.0); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ececec') progid:DXImageTransform.Microsoft.BasicImage(rotation=3.0); /* IE8 */
	}
	
/* ---  single block label target --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li.block:target a.header,
.lizatom-css3accordion-vertical div.qlabs_accordion li.block.target a.header
	{
	color: #222222;
	text-shadow: 0px 1px 0px #ffffff;
	border-bottom: 1px solid #bcbcbc;
	background-color: #f1f1f1; /* background color for non-css3 browsers */
	/* CSS3 gradient */
	background-image: linear-gradient(top, #f5f5f5, #ececec); /* W3C */
	background: -ms-linear-gradient(top, #f5f5f5, #ececec); /* IE9 */
	background: -moz-linear-gradient(top, #f5f5f5, #ececec); /* Firefox */
	background: -o-linear-gradient(top, #f5f5f5, #ececec); /* Opera 11  */
	background: -webkit-linear-gradient(top, #f5f5f5, #ececec); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #ececec)); /* Chrome 10, Safari */
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ececec') progid:DXImageTransform.Microsoft.BasicImage(rotation=3.0); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ececec') progid:DXImageTransform.Microsoft.BasicImage(rotation=3.0); /* IE8 */
	}
	
/* --- single block section target --- */
.lizatom-css3accordion-vertical div.qlabs_accordion li:target div,
.lizatom-css3accordion-vertical div.qlabs_accordion li.target div
	{
	background-color: #ffffff;
	border-left: 1px solid #ececec;
	}
	
/*generator fix*/
#sm-generator-preview .lizatom-css3accordion-horizontal div.qlabs_accordion li.block_header,
#sm-generator-preview .lizatom-css3accordion-horizontal div.qlabs_accordion li.block a.header { height: 20px !important; }