/*====================================================================================================
 * T O O L T I P S                                                                  T O O L T I P S  *
 =====================================================================================================*/
 
/* tooltip global
-------------------------------------------------------------- */

.lizatom-tooltip-top,
.lizatom-tooltip-bottom,
.lizatom-tooltip-right,
.lizatom-tooltip-left,
.lizatom-tooltip-diagonal-right,
.lizatom-tooltip-diagonal-left,
.lizatom-tooltip-focus-top,
.lizatom-tooltip-focus-bottom,
.lizatom-tooltip-focus-right,
.lizatom-tooltip-focus-left
	{
	position: relative !important;
	display: inline-block !important;
	text-decoration: none !important;    
	}
	
.lizatom-tooltip-top span,
.lizatom-tooltip-bottom span,
.lizatom-tooltip-right span,
.lizatom-tooltip-left span,
.lizatom-tooltip-diagonal-right span,
.lizatom-tooltip-diagonal-left span,
.lizatom-tooltip-focus-top span,
.lizatom-tooltip-focus-bottom span,
.lizatom-tooltip-focus-right span,
.lizatom-tooltip-focus-left span
	{
	min-width: 180px;
	font-family: arial, sans-serif !important;
	font-size: 13px !important;
	line-height: normal !important;
	text-align: left !important;
	padding: 10px 10px 12px 10px !important;
	visibility: hidden;
    opacity: 0;
	position: absolute;
	z-index: 9999999 !important;

	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	-ms-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	-moz-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	-o-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	-ms-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	}

.lizatom-tooltip-top span:before,
.lizatom-tooltip-bottom span:before,
.lizatom-tooltip-right span:before,
.lizatom-tooltip-left span:before,
.lizatom-tooltip-diagonal-right span:before,
.lizatom-tooltip-diagonal-left span:before,
.lizatom-tooltip-focus-top span:before,
.lizatom-tooltip-focus-bottom span:before,
.lizatom-tooltip-focus-right span:before,
.lizatom-tooltip-focus-left span:before
	{
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	position: absolute;
	}

.lizatom-tooltip-top span strong,
.lizatom-tooltip-bottom span strong,
.lizatom-tooltip-right span strong,
.lizatom-tooltip-left span strong,
.lizatom-tooltip-diagonal-right span strong,
.lizatom-tooltip-diagonal-left span strong,
.lizatom-tooltip-focus-top span strong,
.lizatom-tooltip-focus-bottom span strong,
.lizatom-tooltip-focus-right span strong,
.lizatom-tooltip-focus-left span strong
	{
	width: 100%;
	padding: 8px 10px 8px 10px;
	display: block;
	position: relative;
	left: -10px;
	top: -10px;
	
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	}

.lizatom-tooltip-top span img,
.lizatom-tooltip-top span iframe,
.lizatom-tooltip-bottom span img,
.lizatom-tooltip-bottom span iframe,
.lizatom-tooltip-right span img,
.lizatom-tooltip-right span iframe,
.lizatom-tooltip-left span img,
.lizatom-tooltip-left span iframe,
.lizatom-tooltip-diagonal-right span img,
.lizatom-tooltip-diagonal-right span iframe,
.lizatom-tooltip-diagonal-left span img,
.lizatom-tooltip-diagonal-left span iframe,
.lizatom-tooltip-focus-top span img,
.lizatom-tooltip-focus-top span iframe,
.lizatom-tooltip-focus-bottom span img,
.lizatom-tooltip-focus-bottom span iframe,
.lizatom-tooltip-focus-right span img,
.lizatom-tooltip-focus-right span iframe,
.lizatom-tooltip-focus-left span img,
.lizatom-tooltip-focus-left span iframe
	{
	margin: 0px 0px 10px 0px !important;
	border: 5px solid #ffffff !important;
	float: left !important;
	}
	
p.lizatom-tooltip-top,
p.lizatom-tooltip-bottom,
p.lizatom-tooltip-right,
p.lizatom-tooltip-left
	{
	display: block !important;
	}
	
p.lizatom-tooltip-top:hover,
p.lizatom-tooltip-bottom:hover,
p.lizatom-tooltip-right:hover,
p.lizatom-tooltip-left:hover
	{
	background: #ffecb1;
	
	-webkit-transition: background 0.25s cubic-bezier(0.35,0,0.35,1);
	-moz-transition: background 0.25s cubic-bezier(0.35,0,0.35,1);
	-o-transition: background 0.25s cubic-bezier(0.35,0,0.35,1);
	-ms-transition: background 0.25s cubic-bezier(0.35,0,0.35,1);
	transition: background 0.25s cubic-bezier(0.35,0,0.35,1);
	}
	
.delay-700.lizatom-tooltip-top span,
.delay-700.lizatom-tooltip-bottom span,
.delay-700.lizatom-tooltip-right span,
.delay-700.lizatom-tooltip-left span,
.delay-700.lizatom-tooltip-diagonal-right span,
.delay-700.lizatom-tooltip-diagonal-left span,
.delay-700.lizatom-tooltip-focus-top span,
.delay-700.lizatom-tooltip-focus-bottom span,
.delay-700.lizatom-tooltip-focus-right span,
.delay-700.lizatom-tooltip-focus-left span
	{
	transition-delay: 700ms;
	-moz-transition-delay: 700ms;
	-webkit-transition-delay: 700ms;
	-o-transition-delay: 700ms;
	}

.delay-300.lizatom-tooltip-top span,
.delay-300.lizatom-tooltip-bottom span,
.delay-300.lizatom-tooltip-right span,
.delay-300.lizatom-tooltip-left span,
.delay-300.lizatom-tooltip-diagonal-right span,
.delay-300.lizatom-tooltip-diagonal-left span,
.delay-300.lizatom-tooltip-focus-top span,
.delay-300.lizatom-tooltip-focus-bottom span,
.delay-300.lizatom-tooltip-focus-right span,
.delay-300.lizatom-tooltip-focus-left span
	{
	transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-webkit-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	}

/* tooltip top
-------------------------------------------------------------- */

.lizatom-tooltip-top span,
.lizatom-tooltip-focus-top span
	{
	left: -10px;
	bottom: 100%;
	margin-bottom: 30px;
	
	-webkit-transition-property: opacity, margin-bottom, visibility;
	-moz-transition-property: opacity, margin-bottom, visibility;
	-o-transition-property: opacity, margin-bottom, visibility;
	-ms-transition-property: opacity, margin-bottom, visibility;
	transition-property: opacity, margin-bottom, visibility;
	}
	
.lizatom-tooltip-top span:before,
.lizatom-tooltip-focus-top span:before
	{
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
	border-top: 8px solid #000;
	border-bottom: 0 !important;
	bottom: -8px;
	left: 15px;
	}

.lizatom-tooltip-top:hover span
	{	
	margin-bottom: 10px; /* End Position */
	visibility: visible;
	opacity: 1;
	}
	
.lizatom-tooltip-focus-top input:focus + span,
.lizatom-tooltip-focus-top textarea:focus + span
	{	
	margin-bottom: 10px; /* End Position */
	visibility: visible;
	opacity: 1;
	}
	
/*tooltip bottom
-------------------------------------------------------------- */

.lizatom-tooltip-bottom span,
.lizatom-tooltip-focus-bottom span
	{
	left: -10px;
	top: 100%;
	margin-top: 30px;
	
	-webkit-transition-property: opacity, margin-top, visibility;
	-moz-transition-property: opacity, margin-top, visibility;
	-o-transition-property: opacity, margin-top, visibility;
	-ms-transition-property: opacity, margin-top, visibility;
	transition-property: opacity, margin-top, visibility;
	}
	
.lizatom-tooltip-bottom span:before,
.lizatom-tooltip-focus-bottom span:before
	{
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
	border-top: 0 !important;
	border-bottom: 8px solid #000;
	top: -8px;
	left: 15px;
	}

.lizatom-tooltip-bottom:hover span
	{	
	margin-top: 10px;
	visibility: visible;
	opacity: 1;
	}
	
.lizatom-tooltip-focus-bottom input:focus + span,
.lizatom-tooltip-focus-bottom textarea:focus + span
	{	
	margin-top: 10px;
	visibility: visible;
	opacity: 1;
	}

/* tooltip right
-------------------------------------------------------------- */

.lizatom-tooltip-right span,
.lizatom-tooltip-focus-right span
	{
	left: 100%;
	top: -7px;
	margin-left: 35px;

	-webkit-transition-property: opacity, margin-left, visibility;
	-moz-transition-property: opacity, margin-left, visibility;
	-o-transition-property: opacity, margin-left, visibility;
	-ms-transition-property: opacity, margin-left, visibility;
	transition-property: opacity, margin-left, visibility;
	}
	
.lizatom-tooltip-right span:before,
.lizatom-tooltip-focus-right span:before
	{
    border-left: 0 !important;
    border-right: 8px solid #000;
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important;
	top: 11px;
	left: -8px;
	}

.lizatom-tooltip-right:hover span
	{	
	margin-left: 15px;
	visibility: visible;
	opacity: 1;
	}

.lizatom-tooltip-focus-right input:focus + span,
.lizatom-tooltip-focus-right textarea:focus + span
	{	
	margin-left: 15px;
	visibility: visible;
	opacity: 1;
	}
	
/* tooltip left
-------------------------------------------------------------- */

.lizatom-tooltip-left span,
.lizatom-tooltip-focus-left span
	{
	right: 100%;
	top: -7px;
	margin-right: 35px;
	
	-webkit-transition-property: opacity, margin-right, visibility;
	-moz-transition-property: opacity, margin-right, visibility;
	-o-transition-property: opacity, margin-right, visibility;
	-ms-transition-property: opacity, margin-right, visibility;
	transition-property: opacity, margin-right, visibility;
	}
	
.lizatom-tooltip-left span:before,
.lizatom-tooltip-focus-left span:before
	{
    border-left: 8px solid #000;
    border-right: 0 !important;
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important;
	top: 11px;
	right: -8px;
	}

.lizatom-tooltip-left:hover span
	{	
	margin-right: 15px;
	visibility: visible;
	opacity: 1;
	}

.lizatom-tooltip-focus-left input:focus + span,
.lizatom-tooltip-focus-left textarea:focus + span
	{	
	margin-right: 15px;
	visibility: visible;
	opacity: 1;
	}	


/* tooltip colors
-------------------------------------------------------------- */

/*blue*/
.lizatom-tooltip-blue span
	{
	color: #ffffff !important;
	
	background: #31598a;
	background: -moz-linear-gradient(top,  #37659d 0%, #31598a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37659d), color-stop(100%,#31598a)); 
	background: -webkit-linear-gradient(top,  #37659d 0%,#31598a 100%);
	background: -o-linear-gradient(top,  #37659d 0%,#31598a 100%);
	background: -ms-linear-gradient(top,  #37659d 0%,#31598a 100%);
	background: linear-gradient(top,  #37659d 0%,#31598a 100%);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	}

.lizatom-tooltip-blue span:before
	{
	border-color: #31598a;
	}
	
.lizatom-tooltip-blue span:after
	{
	content: "";
	display: block;
	border-top: 1px solid #6591c3;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	height: 10px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	
.lizatom-tooltip-blue span strong
	{
	background: #2d548a;
	border-bottom: 1px solid #284b7b;
	}
	
/*light blue*/
.lizatom-tooltip-light-blue span
	{
	color: #ffffff !important;

	background: #1a6998;
	background: -moz-linear-gradient(top,  #367ca5 0%, #1a6998 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#367ca5), color-stop(100%,#1a6998)); 
	background: -webkit-linear-gradient(top,  #367ca5 0%,#1a6998 100%);
	background: -o-linear-gradient(top,  #367ca5 0%,#1a6998 100%);
	background: -ms-linear-gradient(top,  #367ca5 0%,#1a6998 100%);
	background: linear-gradient(top,  #367ca5 0%,#1a6998 100%);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	}

.lizatom-tooltip-light-blue span:before
	{
	border-color: #1a6998;
	}
	

.lizatom-tooltip-light-blue span:after
	{
	content: "";
	display: block;
	border-top: 1px solid #4a97c4;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	height: 10px;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	

.lizatom-tooltip-light-blue span strong
	{
	background: #246894;
	border-bottom: 1px solid #205c85;
	}

/*sky blue*/

.lizatom-tooltip-sky-blue span
	{
	color: #ffffff !important;
	
	
	background: #0081c6; 
	background: -moz-linear-gradient(top,  #0091d5 0%, #0081c6 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0091d5), color-stop(100%,#0081c6)); 
	background: -webkit-linear-gradient(top,  #0091d5 0%,#0081c6 100%); 
	background: -o-linear-gradient(top,  #0091d5 0%,#0081c6 100%); 
	background: -ms-linear-gradient(top,  #0091d5 0%,#0081c6 100%); 
	background: linear-gradient(top,  #0091d5 0%,#0081c6 100%); 
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	}


.lizatom-tooltip-sky-blue span:before
	{
	border-color: #0081c6;
	}
	

.lizatom-tooltip-sky-blue span:after
	{
	content: "";
	display: block;
	border-top: 1px solid #46b2e5;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	height: 10px;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	

.lizatom-tooltip-sky-blue span strong
	{
	background: #007ec7;
	border-bottom: 1px solid #0071b3;
	}

/*green*/

.lizatom-tooltip-green span
	{
	color: #ffffff !important;
	
	
	background: #206906; 
	background: -moz-linear-gradient(top,  #37790c 0%, #206906 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37790c), color-stop(100%,#206906)); 
	background: -webkit-linear-gradient(top,  #37790c 0%,#206906 100%); 
	background: -o-linear-gradient(top,  #37790c 0%,#206906 100%); 
	background: -ms-linear-gradient(top,  #37790c 0%,#206906 100%); 
	background: linear-gradient(top,  #37790c 0%,#206906 100%); 
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	}


.lizatom-tooltip-green span:before
	{
	border-color: #206906;
	}
	

.lizatom-tooltip-green span:after
	{
	content: "";
	display: block;
	border-top: 1px solid #4f9c21;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	height: 10px;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	

.lizatom-tooltip-green span strong
	{
	background: #246407;
	border-bottom: 1px solid #205a06;
	}    
	
/*light green*/

.lizatom-tooltip-light-green span
	{
	color: #ffffff !important;
	
	
	background: #599916; 
	background: -moz-linear-gradient(top,  #6aa417 0%, #599916 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6aa417), color-stop(100%,#599916)); 
	background: -webkit-linear-gradient(top,  #6aa417 0%,#599916 100%); 
	background: -o-linear-gradient(top,  #6aa417 0%,#599916 100%); 
	background: -ms-linear-gradient(top,  #6aa417 0%,#599916 100%); 
	background: linear-gradient(top,  #6aa417 0%,#599916 100%); 
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	}


.lizatom-tooltip-light-green span:before
	{
	border-color: #599916;
	}
	

.lizatom-tooltip-light-green span:after	{ content: ""; display: block; border-top: 1px solid #95c561; position: absolute; left: 0px; top: 1px; width: 100%; height: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	

.lizatom-tooltip-light-green span strong
	{
	background: #579412;
	border-bottom: 1px solid #4e8410;
	}
	

	
/*orange*/

.lizatom-tooltip-orange span
	{
	color: #ffffff !important;
	
	
	background: #c34722; 
	background: -moz-linear-gradient(top,  #cb581f 0%, #c34722 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb581f), color-stop(100%,#c34722)); 
	background: -webkit-linear-gradient(top,  #cb581f 0%,#c34722 100%); 
	background: -o-linear-gradient(top,  #cb581f 0%,#c34722 100%); 
	background: -ms-linear-gradient(top,  #cb581f 0%,#c34722 100%); 
	background: linear-gradient(top,  #cb581f 0%,#c34722 100%);
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	}


.lizatom-tooltip-orange span:before
	{
	border-color: #c34722;
	}
	

.lizatom-tooltip-orange span:after
	{
	content: "";
	display: block;
	border-top: 1px solid #e28266;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	height: 10px;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	

.lizatom-tooltip-orange span strong
	{
	background: #bf461a;
	border-bottom: 1px solid #ac3f17;
	}
	

/*yellow*/

.lizatom-tooltip-yellow span
	{
	color: #000000 !important;
	
	
	background: #f49f00; 
	background: -moz-linear-gradient(top,  #ffba00 0%, #f49f00 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffba00), color-stop(100%,#f49f00)); 
	background: -webkit-linear-gradient(top,  #ffba00 0%,#f49f00 100%); 
	background: -o-linear-gradient(top,  #ffba00 0%,#f49f00 100%); 
	background: -ms-linear-gradient(top,  #ffba00 0%,#f49f00 100%); 
	background: linear-gradient(top,  #ffba00 0%,#f49f00 100%); 
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	text-shadow: 0px 1px 0px #ffce37;
	}


.lizatom-tooltip-yellow span:before
	{
	border-color: #f49f00;
	}
	

.lizatom-tooltip-yellow span:after
	{
	content: "";
	display: block;
	border-top: 1px solid #ffdd83;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	height: 10px;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	

.lizatom-tooltip-yellow span strong
	{
	background: #faa400;
	border-bottom: 1px solid #e09300;
	}


/*gray*/

.lizatom-tooltip-gray span
	{
	color: #ffffff !important;
	
	
	background: #616161; 
	background: -moz-linear-gradient(top,  #6c6c6c 0%, #616161 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6c6c), color-stop(100%,#616161)); 
	background: -webkit-linear-gradient(top,  #6c6c6c 0%,#616161 100%); 
	background: -o-linear-gradient(top,  #6c6c6c 0%,#616161 100%); 
	background: -ms-linear-gradient(top,  #6c6c6c 0%,#616161 100%); 
	background: linear-gradient(top,  #6c6c6c 0%,#616161 100%); 
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	}


.lizatom-tooltip-gray span:before
	{
	border-color: #616161;
	}
	

.lizatom-tooltip-gray span:after
	{
	content: "";
	display: block;
	border-top: 1px solid #8b8b8b;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	height: 10px;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	

.lizatom-tooltip-gray span strong
	{
	background: #5c5c5c;
	border-bottom: 1px solid #525252;
	}

/*black*/

.lizatom-tooltip-black span
	{
	color: #ffffff !important;
	
	background: #404040;
	background: -moz-linear-gradient(top,  #4e4e4e 0%, #404040 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e4e4e), color-stop(100%,#404040));
	background: -webkit-linear-gradient(top,  #4e4e4e 0%,#404040 100%);
	background: -o-linear-gradient(top,  #4e4e4e 0%,#404040 100%);
	background: -ms-linear-gradient(top,  #4e4e4e 0%,#404040 100%);
	background: linear-gradient(top,  #4e4e4e 0%,#404040 100%);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	}

.lizatom-tooltip-black span:before
	{
	border-color: #404040;
	}
	
.lizatom-tooltip-black span:after
	{
	content: "";
	display: block;
	border-top: 1px solid #808080;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	height: 10px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	
.lizatom-tooltip-black span strong
	{
	background: #3f3f3f;
	border-bottom: 1px solid #383838;
	}
	    
	
/*violet*/

.lizatom-tooltip-violet span
	{
	color: #ffffff !important;
	
	
	background: #5d518c; 
	background: -moz-linear-gradient(top,  #6b5da0 0%, #5d518c 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b5da0), color-stop(100%,#5d518c)); 
	background: -webkit-linear-gradient(top,  #6b5da0 0%,#5d518c 100%); 
	background: -o-linear-gradient(top,  #6b5da0 0%,#5d518c 100%); 
	background: -ms-linear-gradient(top,  #6b5da0 0%,#5d518c 100%); 
	background: linear-gradient(top,  #6b5da0 0%,#5d518c 100%); 
    
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	}


.lizatom-tooltip-violet span:before
	{
	border-color: #5d518c;
	}
	

.lizatom-tooltip-violet span:after
	{
	content: "";
	display: block;
	border-top: 1px solid #9689c5;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	height: 10px;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	

.lizatom-tooltip-violet span strong
	{
	background: #5a4d8c;
	border-bottom: 1px solid #50447e;
	}
	

	
/*red*/

.lizatom-tooltip-red span
	{
	color: #ffffff !important;
	
	
	background: #b01c34; 
	background: -moz-linear-gradient(top,  #c01e38 0%, #b01c34 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c01e38), color-stop(100%,#b01c34)); 
	background: -webkit-linear-gradient(top,  #c01e38 0%,#b01c34 100%); 
	background: -o-linear-gradient(top,  #c01e38 0%,#b01c34 100%); 
	background: -ms-linear-gradient(top,  #c01e38 0%,#b01c34 100%); 
	background: linear-gradient(top,  #c01e38 0%,#b01c34 100%); 
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	}


.lizatom-tooltip-red span:before
	{
	border-color: #b01c34;
	}
	

.lizatom-tooltip-red span:after
	{
	content: "";
	display: block;
	border-top: 1px solid #e96e82;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	height: 10px;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	

.lizatom-tooltip-red span strong
	{
	background: #b0182d;
	border-bottom: 1px solid #9d1628;
	}

	
/*light yellow*/

.lizatom-tooltip-light-yellow span
	{
	color: #3f2710 !important;
	
	
	background: #ffecb1; 
	background: -moz-linear-gradient(top,  #ffefbc 0%, #ffecb1 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffefbc), color-stop(100%,#ffecb1)); 
	background: -webkit-linear-gradient(top,  #ffefbc 0%,#ffecb1 100%); 
	background: -o-linear-gradient(top,  #ffefbc 0%,#ffecb1 100%); 
	background: -ms-linear-gradient(top,  #ffefbc 0%,#ffecb1 100%); 
	background: linear-gradient(top,  #ffefbc 0%,#ffecb1 100%);
	
	border: 1px solid #f1d586;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
	}


.lizatom-tooltip-light-yellow span:before
	{
	border-color: #ffecb1;
	}
	

.lizatom-tooltip-light-yellow span:after
	{
	content: "";
	display: block;
	border-top: 1px solid #ffffff;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 10px;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	

.lizatom-tooltip-light-yellow span strong
	{
	background: #ffebae;
	border-bottom: 1px solid #f1d586;
	}
	
/*light gray*/

.lizatom-tooltip-light-gray span
	{
	color: #333333 !important;	
	
	background: #e5e5e5; 
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #e5e5e5 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e5e5e5)); 
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e5e5e5 100%); 
	background: -o-linear-gradient(top,  #f2f2f2 0%,#e5e5e5 100%); 
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#e5e5e5 100%); 
	background: linear-gradient(top,  #f2f2f2 0%,#e5e5e5 100%); 	
	
	border: 1px solid #d5d5d5;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	text-shadow: 0px 1px 0px rgba(255,255,255,0.8);
	}


.lizatom-tooltip-light-gray span:before
	{
	border-color: #e5e5e5;
	}
	

.lizatom-tooltip-light-gray span:after
	{
	content: "";
	display: block;
	border-top: 1px solid #ffffff;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 10px;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	

.lizatom-tooltip-light-gray span strong
	{
	background: #eaeaea;
	border-bottom: 1px solid #d5d5d5;
	}
