@import url("shortcodes-columns.css");
@import url("shortcodes-fancy-buttons.css");
@import url("shortcodes-3d-buttons.css");
@import url("shortcodes-tooltips.css");
@import url("shortcodes-infobox.css");
@import url("shortcodes-tabs.css");
@import url("shortcodes-accordions.css");
@import url("shortcodes-css3accordion.css");
@import url("shortcodes-highlighters.css");
@import url("shortcodes-lists.css");
@import url("shortcodes-frame.css");
@import url("shortcodes-services.css");
@import url("shortcodes-table.css");
@import url("shortcodes-dropcaps.css");
@import url("shortcodes-blockquote.css");
@import url("shortcodes-simple-tabs.css");
@import url("shortcodes-spoiler.css");
@import url("shortcodes-colorbox.css");
@import url("shortcodes-portfolio.css");

/* Mobile (Portrait)
================================================== */

    @media only screen and (max-width: 767px) {
        .lts-one-half,
        .lts-one-third,
        .lts-two-third,
        .lts-three-fourth,
        .lts-one-fourth,
        .lts-one-fifth,
        .lts-two-fifth,
        .lts-three-fifth,
        .lts-four-fifth,
        .lts-one-sixth,
        .lts-five-sixth    { position: relative; width: 98%; padding: 0 1%; margin-bottom: 20px; float: none; clear: both; } 
		.col { width: 100% !important; margin-left: 0px !important; right: 0px !important; clear: both; }
		div.lizatom-table-col,
		.lizatom-table-col:hover { width: 98% !important; left: 0px; top: 0px; padding: 0 1%; }
		.lizatom-table-col:hover .lizatom-table-col-name {  width: 98% !important; }
        .lizatom-table-col:hover .lizatom-table-col-price {  width: 98% !important; }
        .lizatom-table-col:hover ul li {  width: 98% !important; background-color: #E3E3E3; }
        .lizatom-table-col:hover ul li:nth-child(even) {  width: 98% !important; background-color: #F6F6F6; }
        .lizatom-table-col:hover ul li:last-child {  width: 98% !important; padding-top: 25px; padding-bottom: 25px; }
		.lizatom-tabs-vertical_arrow { display: none !important; }
		.lizatom-simpletabs-nav,
		.lizatom-simpletabs-pane{ float: none !important; clear: both !important; width: 98% !important; padding: 0 1% !important; margin-left: 0px !important; }
    }	


/*====================================================================================================
 * H A C K S                                                                               H A C K S *
 =====================================================================================================*/

/* clearfix
-------------------------------------------------------------- */

.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear { min-width: 0; display: inline-block; /* \*/ display: block; }
* html .clear { /* \*/ height: 1%; }



